{% extends 'base.html.twig' %}

{% block title %}Tasklist index{% endblock %}

{% block body %}
    <h1>Tasklist index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tasklist in tasklists %}
            <tr>
                <td>{{ tasklist.id }}</td>
                <td>{{ tasklist.name }}</td>
                <td>
                    <a href="{{ path('tasklist_show', {'id': tasklist.id}) }}">show</a>
                    <a href="{{ path('tasklist_edit', {'id': tasklist.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tasklist_new') }}">Create new</a>
{% endblock %}
